@import './variable'

body, html
  line-height: 1
  font-family: 'Helvetica-Light', Arial, Helvetica, sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-bg
  color: $color-text-d