//color
$color-bg = #F5F5F5
$color-bg-d = rgba(0, 0, 0, 0.1)
$color-highlight-bg = #E8E5E8
$color-theme = #F17455
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #A0A0A0
$color-text = rgba(0, 0, 0, 0.85)
$color-text-d = rgba(0, 0, 0, 0.6)
$color-text-l = rgba(255, 255, 255, 0.7)
$color-text-ll = rgba(255, 255, 255, 0.5)

//font-style
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px